body {
    display: flex;
    margin: 30px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container-fluid {
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

h1 {
    color: white;
}


.card-body {
    padding: 5px;

}

.main-card {
    display: flex;
    background-color: #0aa0f6;
    max-width: 500px;
    border-radius: 40px;
    margin: 0 auto;
}

input {
    width: 65%;
    display: inline-block;
    border: 1px solid slategray;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: x-small;
    padding: 7px;
}

.search-box {
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    font-size: small;
    color: slategray;
    border: white;
    background-color: white;
    border: 1px solid slategray;
    border-radius: 30px;
    transform: 120ms ease-in-out;
    padding: 4px 10px;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.big-icon img{
    position:relative;
    bottom: 15px;
    right: 15px;
    margin: auto;
    width: 170px;
    height: 170px;
    background: transparent;

  
}

.city-name {
    text-align: left;
    display: inline;
    margin-top: 20px;
    max-width: 100%;
    margin-left: -20px;

}

.city-name h1 {
    font-size: 16px;
    margin: 20px 0px 10px;
}

.city-name h2 {
    font-size: x-small;
    margin-bottom: 2px;
}

.city-name p {
    font-size: x-small;
}

.current-date {
    font-size: x-small;
}

.weather-description {
    text-transform: capitalize;
}

.weather-temp {
    display: inline;
    text-align: left;
    padding: 20px 0;
    font-size: 35px;
}

.weather-temp p {
    font-size: 10px;
    margin-top: 5px;
}

.units {
    font-size: 10px;
    position: relative;
    bottom: 16px;
    left: -5px;
    transition: all 120ms ease-in;
    font-weight: 100;
}

.units .active {
    color: white;
}

.units :hover {
    color: white;
    cursor: default;
    text-decoration: none;
}


.weather-forecast-row {
    margin: -13px 10px 20px;
}

.weekday-card-body {
    display: block;
}

.weekday-cards {
    background-color: transparent;
    display: block;
    margin: auto;
    border: 0px solid transparent;
    padding: 0;
    position: relative;
    top: -5px;
}

.weekday-icon {
    position:relative;
    top: -5px;
}

.weekday-text {
    margin: 20px auto 5px;
    text-align: center;
    font-size: 11px;
}

.weekday-degrees {
    margin: auto;
    text-align: center;
    font-size: small;
}

.forecast-min {
    opacity: 0.5;
}


.attribution {
    text-align: center;
    margin: auto;
    padding: 25px 0 5px;
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
}
.open-source-code {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}


